/**
* Built-in override
*/
body {
	width: 100vw;
	height: 100vh;
	
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	
	overflow: hidden;
}

/**
* Alphabet
*/
.alphabet {
	position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  left: 15px;
  background-color: #c7e2fc17;
  padding: 3px;
  border-radius: 100px;
  row-gap: 2px;
	font-size: 1.8vmin;
  opacity: 0.5;
  cursor: default;
	transition: opacity .125s;
}
.alphabet:hover {
	opacity: 1;
}

/**
* Inputs
*/
#ag-input {
	display: none;
}

/**
* Hero
*/
.hero {
	width: 100%;
}

.hero-body {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

/**
* Words lists
*/
word, .word {
	text-transform: capitalize;
}
.word::after {
	display: inline-block;
  padding-left: 10px;
  font-size: 10px;
  vertical-align: middle;
	color: #4a4d53;
	content: attr(data-nfo);
}
#ag-words-before .word:last-of-type::after,
#ag-words-after .word:first-of-type::after { 
	font-size: 20px;
}
#ag-words-before .word:last-of-type,
#ag-words-after .word:first-of-type {
  font-size: 50px;
}

#ag-words-before, #ag-words-after {
	height: calc(50vh - 30px);
	overflow: hidden;
}

#ag-words-after::before, #ag-words-before::before {
	content: '';
	position: absolute;
	width: 100%;
	height: calc(50vh - 30px);
	pointer-events: none;
	z-index: 1;
}

#ag-words-before {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}
#ag-words-before::before {
	background: linear-gradient(rgba(20, 22, 26, 255), rgba(20, 22, 26, 0));
}

#ag-words-after {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#ag-words-after::before {
	background: linear-gradient(rgba(20, 22, 26, 0), rgba(20, 22, 26, 255));
}

/**
* Words
*/
.highlight {
	border-radius: 3px;
	animation: highlight_anm 3s ease-out;
}
@keyframes highlight_anm {
	0% {
		background-color: #4258ffff;
	}
	100% {
		background-color: #4258ff00;
	}
}

/**
* Navbar
*/
nav {
	display: flex;
  width: 50vw;
  top: 20px;
  position: fixed;
  z-index: 2;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

a.dropdown-item, *.dropdown-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.item-next {
	cursor: default;
}


/**
* Modal
*/
.mdl-infos-content {
  width: 60vw;
  max-width: 900px;	
}

.force-inline {
	display: inline;
}