/**
* Built-in override
*/
body {
	width: 100vw;
	height: 100vh;
	font-family: "NotoSans";
	overflow: hidden;
}
::selection {
  color: #14161a;
  background: #9ea3b1;
}

/**
* Fonts
*/
@font-face {
  font-family: "OpenMoji";
  src: URL("../fnt/OpenMoji-color-glyf_colr_0.woff2") format("woff2");
	unicode-range: 
	1F5FA, 				/* xx-XX */
	1F1E9-1F1EA, 	/* de-DE */
	1F1E9-1F1F0, 	/* da-DK */
	1F1FA-1F1F8, 	/* en-US */
	1F1EC-1F1E7, 	/* en-UK */
	1F1EA-1F1F8, 	/* es-ES */
	1F3F4-E0063-E0061-E0071-E0063-E007F, /* fr-CA */
	1F1EB-1F1F7, 	/* fr-FR */
	1F1EE-1F1F9, 	/* it-IT */
	1F1ED-1F1FA, 	/* hu-HU */
	1F1F3-1F1F1, 	/* nl-NL */
	1F1F3-1F1F4, 	/* nb-NO */
	1F1E7-1F1F7, 	/* pt-BR */
	1F1F5-1F1F9, 	/* pt-PT */
	1F1F7-1F1F4, 	/* ro-RO */
	1F1EB-1F1EE, 	/* fi-FI */
	1F1F8-1F1EA, 	/* sv-SE */
	1F1FB-1F1F3, 	/* vi-VN */
	1F1E8-1F1FF, 	/* cs-CZ */
	1F1EC-1F1F7, 	/* el-GR */
	1F1F7-1F1FA, 	/* ru-RU */
	1F1FA-1F1E6, 	/* uk-UA */
	1F1F9-1F1ED; 	/* th-TH */
}
@font-face {
  font-family: "NotoSans";
  src: URL("../fnt/NotoSans.woff2") format("woff2");
}

/**
* General
*/
.patoush {
	user-select: none;
}

/**
* Root
*/
.container.gui {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/**
* Alphabet
*/
.alphabet {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
	padding: 3px 15px 3px 15px;
  bottom: 15px;
  background-color: #1a1c20;
	color: #2b2d31;
  border-radius: 100px;
	column-gap: 0px;
  font-size: 1.5vw;
  cursor: default;
  transition: background-color .125s, color .125s;
  z-index: 2;
	visibility: hidden;
}
.alphabet:hover {
  background-color: #1e242e;
	color: #506690;
}

input[type="checkbox"][name="cb_alphabet"] {
	display: none;
}
input[type="checkbox"][name="cb_alphabet"] ~ label {
	cursor: pointer;
	padding: 0px .5vw 0px .5vw;
	width: 2.5vw;
}
input[type="checkbox"][name="cb_alphabet"] ~ label:hover,
input[type="checkbox"][name="cb_alphabet"].highlight ~ label {
	color: #9c7230;
}
input[type="checkbox"][name="cb_alphabet"]:checked ~ label {
	color: #ff9c00;
}

/**
* Inputs
*/
.inputs {
	display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ag-input-container {
	display: none;
  width: 60%;
	
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;

}

#ag-input {
	margin-top: 20px;
	
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

input::placeholder {
	user-select: none;
}

.field:not(:last-child) {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.width-full {
	width: 100%;
}
#inp-set-dsc, #inp-usr-icn , #inp-usr-dsc {
	visibility: hidden;
}
.is-visible {
	visibility: visible !important;
}

/**
* Hero
*/
.hero {
	width: 100%;
	user-select: none;
}

.hero-body {
	display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

/**
* Set selector
*/
#selector-container {
	display: none;
	width: 50%;
}

.dropdown-trigger {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

#selector-infos {
  position: relative;
	display: flex;
	
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-end;
	
	height: 32px;
	
  top: 10px;
	
	animation: .25s ease-out slct-nfo-anm;
}

@keyframes slct-nfo-anm {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.tags .tag:nth-child(2) {
	font-weight: bold;
}

#selector {
	border-radius: 0px;
  border-right: none;
  border-left: none;
	font-family: NotoSans, OpenMoji;
}

#selector-menu {
	left: unset;
	font-family: NotoSans, OpenMoji;
}
#selector-menu > .dropdown-content:not(:has(*)) {
	display: none;
}

#run-set {
	border-radius: 0px 6px 6px 0px;
}

#slct-lang {
	border-radius: 6px 0px 0px 6px;
	font-family: NotoSans, OpenMoji;
}

.tag-flag {
	font-family: NotoSans, OpenMoji;
}

.control.multilines {
  white-space: normal;
	width: 100%;
	background-color: #4258ff;
  padding: 10px;
  border-radius: 6px;
  color: #f5f6ff;
}



/**
* Words lists
*/
word, .word {
	user-select: all;
	cursor: pointer;
}
.word::after {
	display: inline-block;
  padding-left: 10px;
  font-size: 10px;
  vertical-align: middle;
	color: #4a4d53;
	content: attr(data-nfo);
}
#ag-words-before .word:last-of-type,
#ag-words-after .word:first-of-type {
  font-size: 50px;
	line-height: 50px;
}
#ag-words-before .word:last-of-type::after,
#ag-words-after .word:first-of-type::after { 
	font-size: 20px;
}

.word::after { 
	visibility: hidden;
	color: #9c7230;
	transition: color .125s
}
.word:hover::after, .wrd-ftr-clr { 
	color: #ff9c00;
}
.word.show-after::after { 
	visibility: visible !important;
}

#ag-words-before, #ag-words-after {
	height: calc(50vh - 30px);
	overflow: hidden;
}

#ag-words-after::before, #ag-words-before::before {
	content: '';
	position: absolute;
	width: 100%;
	height: calc(50vh - 30px);
	pointer-events: none;
	z-index: 1;
}

#ag-words-before {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}
#ag-words-before::before {
	background: linear-gradient(rgba(20, 22, 26, 255), rgba(20, 22, 26, 0));
}

#ag-words-after {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#ag-words-after::before {
	background: linear-gradient(rgba(20, 22, 26, 0), rgba(20, 22, 26, 255));
}

/**
* Words
*/
.highlight {
	border-radius: 3px;
	animation: highlight_anm 3s ease-out;
}
@keyframes highlight_anm {
	0% {
		background-color: #4258ffff;
	}
	100% {
		background-color: #4258ff00;
	}
}

/**
* Navbar
*/
#set-title {
	text-transform: capitalize;
}

nav {
	display: flex;
  width: 50vw;
  top: 20px;
  position: fixed;
  z-index: 2;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.level.minimal .level-item[type] {
	visibility: hidden;
}

a.dropdown-item, *.dropdown-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.item-next {
	cursor: default;
}

/**
* Menu
*/
#plzstahp[disabled] {
	cursor: no-drop;
	color: hsl(var(--bulma-danger-h),var(--bulma-danger-s),var(--bulma-danger-dark-l)) !important;
}
#plzclue[disabled] {
	cursor: no-drop;
	color: hsl(var(--bulma-warning-h),var(--bulma-warning-s),var(--bulma-warning-dark-l)) !important;
}
button[i18n] i {
  padding-right: 5px;
}

#plzhome {
	display: none;
}

/**
* Modal
*/
#mdl-options {
	z-index: 5;
}

#mdl-infos {
	z-index: 6;
}

.mdl-infos-content {
  width: 60vw;
  max-width: 900px;	
}

.force-inline {
	display: inline;
}

.rad-lng input[type="radio"] {
	display: none;
}
.rad-lng input[type="radio"] ~ img {
	opacity: .125;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
.rad-lng input[type="radio"]:hover ~ img {
	opacity: 1;
}
.rad-lng input[type="radio"]:disabled ~ img {
	cursor: not-allowed;
}
.rad-lng input[type="radio"]:checked ~ img {
	opacity: 1;
}
.rad-lng label {
	width: fit-content;
}

.radio p {
	display: inline;
}

[data-tooltip] {
	display: inline-block;
}

#clue-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#clue-content {
	transition: all .25s ease;
	filter: brightness(0);
	cursor: help;
}
#clue-content:hover {
	filter: brightness(1);
}
#clue-content > p {
	padding: 10px 20px 10px 20px;
}

#btn-copylink-icn {
	padding-right: 5px;
}